body {
    background-color: pink;

}

p {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: sans-serif;
}
h1 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: serif;
}

h2{
    font-weight: bold;
    font-style: italic;
    color: lawngreen;
}

img {
    justify-content: left;
    flex-direction: initial;
}